<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>📝 To-Do List App</h1>

    <div class="stats">

    <div class="card">
        <h3>Total</h3>
        <p>{{ total }}</p>
    </div>

    <div class="card">
        <h3>Completed</h3>
        <p>{{ completed }}</p>
    </div>

    <div class="card">
        <h3>Pending</h3>
        <p>{{ pending }}</p>
    </div>

</div>

    <form method="POST">

        <input
            type="text"
            name="task"
            placeholder="Enter a task..."
            required
        >

        <button type="submit">
            Add Task
        </button>

    </form>

    {% if tasks|length == 0 %}

        <p style="text-align:center;">
            No Tasks Available
        </p>

    {% endif %}

    <div class="tasks">

        {% for task in tasks %}

        <div class="task-item">

            <span>

                {{ task[1] }}

                {% if task[2] == "Completed" %}

                    <span class="completed">
                        (Completed)
                    </span>

                {% else %}

                    <span class="pending">
                        (Pending)
                    </span>

                {% endif %}

            </span>

            <div class="task-actions">

                <a class="complete-btn"
                   href="/complete/{{ task[0] }}">
                   Complete
                </a>

                <a class="delete-btn"
                   href="/delete/{{ task[0] }}">
                   Delete
                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>